<template>
<div class="container">
  <h1 class="mb-4">admin</h1>
  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-3">Customers</h2>
      <customer></customer>
    </div>
    <div class="col-md-6">
      <h2 class="mb-3">Blocked Slots</h2>
      <blocked-slots></blocked-slots>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-3">Make Blocked Slots</h2>
      <make-blocked-slots></make-blocked-slots>
    </div>
  </div>
</div>

</template>

<script setup>
    import customer from '../components/customer.vue'
    import blockedSlots from '../components/blockedSlots.vue';
    import makeBlockedSlots from '../components/makeBlockedSlots.vue';
</script>

<style>

</style>