<template>
  <div class="container">
    
    <h1 class="mb-4">Create order</h1>
    <div v-if="error" class="alert alert-danger">{{ error }}</div>
    <div v-if="showNewAlart && !error" class="alert alert-primary">
      Order Created
    </div>
    <form @submit.prevent="createCustomer()">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" v-model="customer.name" required class="form-control">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" v-model="customer.email" required class="form-control">
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number:</label>
        <input type="text" id="phone" v-model="customer.phone" required class="form-control">
      </div>

      <div class="mb-3">
        <label for="vehicle" class="form-label">Vehicle Make/Model:</label>
        <input type="text" id="vehicle" v-model="customer.vehicle_make_model" required class="form-control">
      </div>

      <div class="mb-3">
        <label for="booking" class="form-label">Booking Date and Time:</label>
        <VueDatePicker
          v-model="date"
          :filters="filters"
          minutes-increment="30"
          :start-time="{ hours: startTime[0], minutes: startTime[1] }"
          no-minutes-overlay
          :max-time="{ hours: endTime[0], minutes: endTime[1] }"
          :min-time="{ hours: startTime[0], minutes: startTime[1] }"
          :disabled-dates="disabledDates"
        ></VueDatePicker>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</template>


<script setup>
  import { useCustomerStore } from '../stores/customerStore';
  import { ref, watchEffect,computed,watch } from 'vue';
  import VueDatePicker from '@vuepic/vue-datepicker';
  import '@vuepic/vue-datepicker/dist/main.css'

  const customerStore = useCustomerStore();
  const error = ref(customerStore.lastError);
  watchEffect(() => {
    error.value = customerStore.lastError;
  });
  const date = ref()
  const customer = ref({
    name: '',
    email: '',
    phone: '',
    vehicle: '',
    booking_datetime: null,
  });
  const showNewAlart = ref(false);
  watch(date,(data)=>{customer
    customer.value.booking_datetime = dayjs(data).format('YYYY-MM-DD HH:mm:ss');
  })

  const startTime = window.CONFIG.app.open_hours.start.split(':').map(el=>Number(el))
  const endTime = window.CONFIG.app.open_hours.end.split(':').map(el=>Number(el))
  
  const disabledDates = (date) => {
    const day = date.toLocaleString('en-gb', {weekday:'long'})
    if(!window.CONFIG.app.open_days.includes(day)) return true
  };
  const createCustomer = async () =>{

    showNewAlart.value = false 
    const output  = await customerStore.createCustomer(customer.value)
    showNewAlart.value = true
    customer.value = {
    name: '',
    email: '',
    phone: '',
    vehicle: '',
    booking_datetime: null,
  }

  }
</script>
