<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="slot in blockedSlots" :key="slot.id">
          <td>{{ slot.id }}</td>
          <td>{{ slot.datetime }}</td>
          <td>
            <button @click="deleteBlockedSlot(slot.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p v-if="lastError" class="error alert alert-danger">{{ lastError }}</p>
  </div>
</template>


<script setup>
import { useBlockedSlotsStore } from '../stores/blockedSlotsStore';
import { onMounted, ref } from 'vue';

const blockedSlots = ref([]);
const lastError = ref('');

const fetchBlockedSlots = async () => {
    const blockedSlotsStore = useBlockedSlotsStore();
    await blockedSlotsStore.fetchBlockedSlots();
    blockedSlots.value = blockedSlotsStore.blockedSlots;
};

const deleteBlockedSlot = async (blockedSlotId) => {
    const blockedSlotsStore = useBlockedSlotsStore();
    await blockedSlotsStore.deleteBlockedSlot(blockedSlotId);
    blockedSlots.value = blockedSlots.value.filter((slot) => slot.id !== blockedSlotId);
};

onMounted(fetchBlockedSlots);
</script>

<style>
.error {
  color: red;
}
</style>
