<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="customer in customers" :key="customer.id">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>
            <button @click="deleteCustomer(customer.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p v-if="lastError" class="error alert alert-danger">{{ lastError }}</p>
  </div>
</template>


<script setup>
import { useCustomerStore } from "../stores/customerStore.js";
import { onMounted, ref } from "vue";
const customers = ref([]);
const lastError = ref("");

const fetchCustomers = async () => {
    const customerStore = useCustomerStore();
    await customerStore.fetchCustomers();
    customers.value = customerStore.customers;
};

const deleteCustomer = async (customerId) => {
    const customerStore = useCustomerStore();
    await customerStore.deleteCustomer(customerId);
    customers.value = customers.value.filter((customer) => customer.id !== customerId);
};

onMounted(fetchCustomers);
</script>

<style>
.error {
  color: red;
}
</style>
