<template>
  <div>
    <form @submit.prevent="createBlockedSlot" class="mb-4">
      <div class="mb-3">
        <label for="date" class="form-label">Date:</label>
        <VueDatePicker
          v-model="date"
          minutes-increment="30"
          no-minutes-overlay
          :start-time="{ hours: startTime[0], minutes: startTime[1] }"
        ></VueDatePicker>
      </div>
      <button type="submit" class="btn btn-primary">Create Blocked Slot</button>
    </form>
    <p v-if="lastError" class="error alert alert-danger">{{ lastError }}</p>
  </div>
</template>


<script setup>
import { useBlockedSlotsStore } from '../stores/blockedSlotsStore.js';
import { ref,watch } from 'vue';

const newBlockedSlot = ref({
  time: '',
});
const lastError = ref('');
const date = ref();
watch(date,(data)=>{
    newBlockedSlot.value.datetime = dayjs(data).format('YYYY-MM-DD HH:mm');
})
  const startTime = window.CONFIG.app.open_hours.start.split(':').map(el=>Number(el))

const createBlockedSlot = () => {
  const blockedSlotsStore = useBlockedSlotsStore();
  blockedSlotsStore.createBlockedSlot(newBlockedSlot.value)
    .then(() => {
      newBlockedSlot.value.date = '';
      lastError.value = '';
    })
    .catch((error) => {
      lastError.value = error.message;
    });
};
</script>

<style>
.error {
  color: red;
}
</style>
